html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(51, 51, 51);
    font-family: 'Open Sans', sans-serif;
    color: azure;
}
a{
    text-decoration: none;
    color: azure;
}


.menu{
    display: block;
    width: 200px;
    height: 170px;
    background-color: rgb(20, 20, 20);
    border-bottom-right-radius: 10%;
    font-weight: 400;
}
.home{
    text-align: center;
    position: relative;
    max-width: 90px;
    max-height: 50px;
    top: 30px;
    margin-left: 8px;
    margin-bottom: 8px;
    color: azure;
    .icone{
        position: relative;
        align-items: center;
        display: inline-block;
        vertical-align: middle;
    }
}
.my-playlist{
    text-align: center;
    position: relative;
    max-width: 150px;
    max-height: 50px;
    top: 50px;
    margin-left: 8px;
    color: azure;
    .icone{
        display: inline-block;
        vertical-align: middle;
    }
}

.buscar {
    display: flex;
    position: relative;
    bottom: 150px;
    align-items: center;
    justify-content: center;
}
.texto-buscar {
    width: 500px;
    height: 35px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(29, 29, 29);
    padding-left: 10px;
    color: azure;
}
.botao-buscar{
    height: 37px;
    width: 60px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(24, 24, 24);
    color: azure;
    #icone-buscar {
        display: inline-block;
        vertical-align: middle;
    }
}
.botao-buscar:hover{
    background-color: rgb(61, 61, 61);
    cursor: pointer;
    transform: scale(1.15);
}

#card-container{
    width: 700px;
    height: 900px;
}

