html, body {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
    color: azure;
}
a{
    text-decoration: none;
    color: azure;
}


.menu{
    display: block;
    width: 200px;
    height: 170px;
    background-color: rgb(20, 20, 20);
    border-bottom-right-radius: 10%;
    font-weight: 400;
}
.home{
    text-align: center;
    position: relative;
    max-width: 90px;
    max-height: 50px;
    top: 30px;
    border-radius: 5%;
    margin-left: 8px;
    margin-bottom: 8px;
    color: azure;
    .icone{
        position: relative;
        align-items: center;
        display: inline-block;
        vertical-align: middle;
    }
}
.my-playlist{
    text-align: center;
    position: relative;
    max-width: 150px;
    max-height: 50px;
    top: 50px;
    border-radius: 5%;
    margin-left: 8px;
    color: azure;
    .icone{
        display: inline-block;
        vertical-align: middle;
    }
}